*,html{
    top:0;
    left:0;
    position:relative;
    background-color:#1A242E;
    font-family:'Courier New', Courier, monospace;
    max-width:100%;
    overflow-x:hidden;

}
header{
height:20.5vw;
background-color:#0F171E;
width:98%;
margin:1vw;
border-radius:15px;
border: 1px solid #0D3140;
}
.image{
    margin:1vw;
    float:left;
    height:18vw;
    width:20%;
    
    border-radius:25px;
    background-color:#1A242E;
    border:1px solid #0B4961;
}
.head{
    margin:1vw;
    float:left;
    width:70%;
    height:18vw;
    overflow-y:hidden;
    background-color:#0F171E;

}
.head h1{
    color:#00AAE1;
    background-color:#0F171E;
    font-size:5vw;
    letter-spacing: 3px;
    margin:2vw;
    margin-bottom:.7vw;
}
.head-info{
    color:white;
    background-color:#0F171E;
    font-size:1.5vw;
    letter-spacing: 3px;
    margin-left:1.3vw;
    font-weight:600;
    margin-bottom:1vw;
}
.cover{
    background-color:#0F171E;
    margin-left:1vw;
    padding:1vw;
}
.icon{
    margin-left:.3vw;
    width:3vw;
    height:3vw;
    border-radius:50%;
    padding-top:1.3vw;
    padding-left:.3vw;
    padding-right:.3vw;
    display:inline;
}
section{
width:100%;
padding:1vw;
}
nav{
    float:left;
    width:67%;
    height:60vw;
    
}
article{
    float:left;
    width:30%;
    background-color:#0F171E;
    height:100vw;
    margin-left:1vw;
    border-radius:10px;
    

    
    
}
.Contactme{
    margin:.2vw;
    padding-left:2vw;
    width:95%;
    height:20vw;
    background-color:#0F171E;
    border-radius:15px;
}
.Contactme p{
    background-color:#0F171E;
    font-size:1.5vw;
    font-weight:600;
    letter-spacing:1.5px;
    color:white;
}